<a style="color:#7e7c7f">
  <%= address.first_name %> <%= address.last_name %><br/>
  <%= address.address1 %><br/>
  <%= address.city %>, <%= address.province %>, <%= address.zip %><br/>
  <%= address.country %><br/>
  T: <%= address.phone %><br/>
</a>
